* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: rgb(252,246,245);
    color: rgb(0,0,0);
    font-family: "Roboto", "consolas", sans-serif;
    font-size: 3rem;
}

main {
    padding-top: 100px;
}

.product-quantity-num {
    padding: 1%;
    background-color: white;
    margin: 20% 15%;
    border-radius: 10px;
}

.product-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% 0 0 10%;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    background-color: rgb(184,37,8);
    color: whitesmoke;
    font-size: 2.5rem;
    box-shadow: 0 2px 5px gray;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.quicksearch {
    display: none;
    height: 100%;
}

.product-label {
    padding: 1%;
    display: inline;
    background-color: rgb(255, 208, 208);
    border-radius: 50px;
    font-size: small;
}

.product-description {
    margin-top: 1%;
}

.ingredients {
    height: 30%;
    background-color: white;
    border-radius: 15px;
}

.label {
    padding: 5% 5% 5% 0;
    font-size: x-large;
    font-weight: 100;
    color:#797979;
}

.product-pm {
    width: 100%;
    border-radius: 25%;
    border: transparent;
    background-color: rgb(230, 230, 230);
    margin-top: 5%;
}

.product-add {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(32, 187, 1);
    color: white;
    font-size: 2rem;
    font-family: "Roboto", "consolas", sans-serif;
    margin-top: 5%;
}

.product-pm {
    width: 100%;
    border-radius: 25%;
    border: transparent;
    background-color: rgb(230, 230, 230);
    margin-top: 5%;
}

.expand-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    width: 100%;
    height: 100%;
}

.small-product-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.underlined {
    text-decoration: underline;
}

.results {
    padding: 1% 0;
}

.menu {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    z-index: 1;

}

.menu-container {
    display: grid;
}

img {
    align-items: center;
}

.card {
    font-size: medium;
    background: white;
    padding: 5%;
    border-radius: 10%;
    box-shadow: 0 2px 5px gray, -1px 0 2.5px lightgray, 1px 0 2.5px lightgray; 
    position: relative;
}

.card:hover {
    transform: scale(1.01);
    opacity: 1;
}

h3 {
    font-weight: 700;
}

p {
    font-size: small;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

.product-img {
    width: 100%;
}

input {
    width: 100%;
    height: 50px;
    padding: 1%;
    border-radius: 50px;
    margin-top: 25px;
    border: 1px solid #ccc;
}

.two-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    vertical-align: middle;
    background-color: white;
    padding: 5%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px gray;
}

.inset {
    box-shadow: inset 0 0 10px gray;
    padding: 2.5%;
    border-radius: 30px;
    background-color: rgb(252,246,245);
    text-align: left;
    font-size: xx-large;
}

.expanded-image {
    width: 100%;
}

.image-container {
    background-image: linear-gradient(rgba(0,0,0,0),rgb(220, 220, 220));
    border-radius: 10%;
    margin-bottom: 5%;
}

.expand-image-container {
    background-image: linear-gradient(rgba(0,0,0,0),rgb(220, 220, 220));
    border-radius: 10%;
    margin-bottom: 5%;
    margin: 10%
}

.searchbar-text {
    font-size:1.2rem;
    padding-left: 20px;
}

.quicksearch, .cart {
    background-color: rgb(255, 255, 255);
    z-index: 4;
    box-shadow: 2px 0 5px gray, -2px 0 5px gray;
    padding: 5%;
    height: 900px;
}

.cart {
    display: none;
}

.shopping-cart {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.shopping-cart a {
    text-decoration: underline;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 5%;
    align-items: center;
    vertical-align: middle;
}

.total {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(32, 187, 1);
    color: white;
    font-size: 2rem;
    font-family: "Roboto", "consolas", sans-serif;
}

.total:hover {
    background-color: rgb(28, 160, 1);
}

.item-container {
    background-color: white;
    column-gap: 10%;
    width: 1000px;
    vertical-align: middle;
    text-align: center;
    padding: 5%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px gray;
    
}

.cart-image {
    width: 40%;   
    display: inline; 
}

.cart-image-name {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.plus-button, .minus-button {
    width: 100%;
    border-radius: 25%;
    border: transparent;
    background-color: rgb(230, 230, 230);
}
.plus-button:hover, .minus-button:hover {
    background-color: rgb(206, 206, 206);
}

.plus-button:active, .minus-button:active {
    transform: scale(1.01);
}

.add-button {
    margin: 5%;
    color: white;
    background-color: rgb(32, 187, 1);
    border-radius: 15px;
    z-index: 3;
}

.add-button:hover {
    background-color: rgb(28, 160, 1);
    
}

.add-button:active {
    background-color: rgb(184, 184, 184);
    transform: scale(1.01);
}

.quicksearch-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
}

.closeBtn {
    text-align: right;
}

.openBtn {
    z-index: -1 ;
    padding: 15px;
    padding-left: 30px;
    margin-left: -20px;
    border-radius: 100px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 2px 0 5px gray;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
}

a:hover {
    opacity: .85;
}

.form {
    grid-template-columns: repeat(3, 1fr);
}

.register-div, .login-div {
    vertical-align: middle;
    width: 500px;
    background-color: white;
    padding: 5%;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px gray;
}

.login-div{
    margin: 40% auto;
}

.register-div {
    margin: 20% auto;
}

.register {
    font-size: 1rem;
    padding: 5%;
    width: 100%;
}

.errorlist li::marker {
    content: '❗ ';
    color: red;
}

.errorlist {
    color: red;
    margin-left: 2rem;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
    color: gray
}

.helptext ul {
    list-style-type: none;
}

.register input {
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    margin-top: 10%;
    margin-bottom: -2%;
    padding: 2%;
    border-radius: 20px;
}

.dropbtn {
    background-color: transparent;
    border: none;
}

span {
    font-weight: 300;
    font-style: italic;
    color: #797979;
}

.icons {
    margin-top: 3.5%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.icon {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.icon:hover .dropdown-content {display: block;}


/*
red: rgb(184,37,8)
bg: rgb(252,246,245)
text: rgb(255,255,255)
font: roboto normal
logo: cabin
searchbar: verdana
*/