* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(252,246,245);
    color: rgb(0,0,0);
    font-family: "Roboto", "consolas", sans-serif;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: rgb(184,37,8);
    color: whitesmoke;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: .85;
}
/*
red: rgb(184,37,8)
bg: rgb(252,246,245)
text: rgb(255,255,255)
font: roboto normal
logo: cabin
searchbar: verdana
*/