header {
    background-color: rgb(184, 37, 8);
    height: 120px;
}

h1 {
    margin: 0;
    font-size: 20px;
}

html {
    margin: -8px;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.logo {
    text-align: left;
}