{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="form">
        <div></div>
        <div class="login-div">
            <h1>Login</h1>
            <p>If you haven't got an account click 
                <a href="/users/register" class="underlined">here</a>.</p>
            {% comment %} Collect cookies + display login form. {% endcomment %}
            <form class="register" action="/users/login" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="register-btn">Submit</button>
            </form>
        </div>
        <div></div>
    </div>
{% endblock %}