{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="form">
        <div></div>
        <div class="register-div">
            <h1>Register</h1>
            <p>If you are already have an account click <a href="/users/login" class="underlined">here</a>.</p>
            <form class="register" action="/users/register" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="register-btn">Submit</button>
            </form>
        </div>
        <div></div>
    </div>
{% endblock %}