{% extends "layout.html" %}
{% comment %} Uses my layout.html as a base. {% endcomment %}

{% block title %}
    {% comment %} Title used for tab name. {% endcomment %}
    About
{% endblock %}

{% block content %}
    {% comment %} Content of about page. {% endcomment %}
    <h1>About</h1>
    <p>This is my about page. Go back to my <a href="/">Home</a> page.</p>
    <br>
    <p>Sources of Images:</p>
    <p>Logo: <a href="https://pikbest.com/">Pikbest</a></p>
    <p>Icons: <a href="https://icons8.com/">Icons8</a></p>
    <p>Items: <a href="https://pngtree.com/">Pngtree</a>,
               <a href="https://www.vecteezy.com/">Vecteezy</a></p>
{% endblock %}