{% extends "layout.html" %}
{% comment %} Uses my layout.html as a base. {% endcomment %}

{% block title %}
    {% comment %} Title used for tab name. {% endcomment %}
    About
{% endblock %}

{% block content %}
    <div class="center">
        {% comment %} Content of about page. {% endcomment %}
        <h1>About</h1>
        <p>This is my about page. Go back to my 
            <a class="ul" href="/">Home</a> page.
        </p>
        <br>
        <p>
            This whole website is under the Creative Commons Copyright licensing
            system Non-Commerical (NZ).
        </p>
        <p>Users may not make money from the work.</p>
        <p>
            <a class="ul"href="https://creativecommons.org/">
                Creative Commons
            </a>
        </p>
        <br>
        <p>Sources of Images:</p>
        <p>Logo: <a class="ul" href="https://pikbest.com/">Pikbest</a></p>
        <p>Icons: <a class="ul" href="https://icons8.com/">Icons8</a></p>
        <p>Items: <a class="ul" href="https://pngtree.com/">Pngtree</a>,
                <a class="ul" href="https://www.vecteezy.com/">Vecteezy</a></p>
    </div>
{% endblock %}