<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <div class="logo-login">
            <a class="logo-link" href="/products">
                <img class="logo" src="/media/logo.png" alt="logo">   
            </a>
            <div class="auth-info">
                {% if request.user.is_authenticated %}
                <p>Signed in as:</p>
                <p>{{ request.user }}</p>
                {% else %}
                <p>You need to login.</p>
                <p>Click <a href="/users/register" class="underlined">Here</a></p>
                {% endif %}
            </div>
        </div>
        

        <div class="searchbar">
            <form method="GET" action="{% url 'products:menu' %}">
                <input 
                name="search" 
                type="text" 
                placeholder="Search..." 
                value="{{ request.GET.search|default_if_none:'' }}"
                class="searchbar-text">
            </form>
        </div>

        <div class="icons">
            
            <div>
                <div class="icon">
                    <button class="dropbtn">
                        <img src="/media/help-icons8.png" alt="">
                    </button>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="icon">
                    <a href="/products/cart">
                        <img src="/media/cart-icons8.png" alt="">
                        <p class="cart-item-quantity">{{ cart_item_quantity }}</p>
                    </a>
                </div>
            </div>

            <div>
                <div class="icon">
                    <button class="dropbtn">
                        <img src="/media/user-icons8.png" alt="">
                    </button>
                    <div class="dropdown-content">
                        <a href="/users/register">Register</a>
                        <a href="/users/login">Login</a>
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                        {% endif %}
                        <a href="/admin">Admin</a>
                    </div>
                </div>
            </div>
            <div></div> 
        </div>
    </nav>
    <main>
        <div id="error-notification" class="hidden">
            {% if messages %}
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>