{% extends "layout.html" %}

{% block title %}
	{% comment %} Title used for tab name. {% endcomment %}
    Cart
{% endblock %}

{% block content %}
<div class="shopping-cart">
	<div></div>
	<div>
		{% comment %} Labels for each column. {% endcomment %}
		<div class="item-container">
			<div class="item-grid">
				<h3>Product</h3>
				<h3>Quantity</h3>
				<h3>Unit</h3>
				<h3>Cost</h3>
			</div>
			{% comment %} Displays all items in cart. {% endcomment %}
			<div class="item-grid">
				{% for item in items %}
				{% comment %} Item information. {% endcomment %}
					<div class="cart-image-name">
						<img class="cart-image" 
						src="{{ item.product.image.url }}" 
						alt="item.product.slug">
						<h5><a href="product/{{ item.product.slug }}">
							{{ item.product.name }}
						</a></h5>
					</div>
					{% comment %} Quantity shown w/ + - button. {% endcomment %}
					<div class="quantity">
						<button id="minus" class="minus-button" 
						value="{{ item.product.id }}">-</button>
						<h5>{{ item.quantity }}</h5>
						<button id="plus" class="plus-button" 
						value="{{ item.product.id }}">+</button>
					</div>
					{% comment %} Unit and all of units price. {% endcomment %}
					<h5>${{ item.product.price }}</h5>
					<h5>${{ item.price }}</h5>
				{% endfor %}
			</div>
			{% comment %} Error message if not logged in. {% endcomment %}
			{% if not request.user.is_authenticated %}
			<p>You cannot access cart, register 
				<a href="/users/register">here</a>.</p>
			{% comment %} If no items suggest menu page. {% endcomment %}
			{% elif items|length == 0 %}
			<p>Your cart is empty, go <a href="/products/">shopping</a>?</p>
			{% else %}
			{% comment %} Display the sum of all items. {% endcomment %}
			<button class="total">Total: ${{ cart.total_price }}</button>
			{% endif %}
		</div>
	</div>
	<div></div>
{% endblock %}
</div>