{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
<div class="shopping-cart">
	<div></div>
	<div>
		<div class="item-container">
			<div class="item-grid">
				<h3>Product</h3>
				<h3>Quantity</h3>
				<h3>Unit</h3>
				<h3>Cost</h3>
			</div>
			<div class="item-grid">
				{% for item in items %}
					<div class="cart-image-name">
						<img class="cart-image" src="{{ item.product.image.url }}" alt="">
						<h5><a href="product/{{ item.product.slug }}">{{ item.product.name }}</a></h5>
					</div>

					<div class="quantity">
						<button id="minus" class="minus-button" value="{{ item.product.id }}">-</button>
						<h5>{{ item.quantity }}</h5>
						<button id="plus" class="plus-button" value="{{ item.product.id }}">+</button>
					</div>
					
					<h5>${{ item.product.price }}</h5>
					<h5>${{ item.price }}</h5>
				{% endfor %}
			</div>
			{% if items|length == 0%}
				<p>Your cart is empty, go <a href="/products/">shopping</a>?</p>
			{% else %}
				<button class="total">Total: ${{ cart.total_price }}</button>
			{% endif %}
		</div>
	</div>
	<div></div>

{% endblock %}
</div>