{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div>
                <button class="openBtn">&#10132;</button>
                <div id="quicksearch-modal" class="quicksearch">
                    <div class="quicksearch-header">
                        <h3>Menu</h3>
                        <div class="closeBtn">&times;</div>
                    </div>
                    <hr>
                    <div class="label">
                        <p>- Burger</p>
                        <p>- Pizza</p>
                        <p>- Main</p>
                        <p>- Sides</p>
                        <p>- Drinks</p>
                        <p>- Deserts</p>
                        <p>- Fresh</p>
                        <p>- Expensive</p>
                    </div>
                </div>
            </div>
            <div class="menu">
                {% for product in products %}
                    <div class="card">
                        <a href="{% url 'products:page' slug=product.slug %}">
                            <div class="image-container">
                                <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>
                        </a>
                        <div class="small-product-info">
                            <a href="{% url 'products:page' slug=product.slug %}">
                                <h3>{{ product.name }}</h3>
                                <p>${{ product.price }}</p>
                            </a>
                            <button class="add-button">
                                ADD
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart">
                Cart
            </div>
        </div>
    </section>
{% endblock %}