{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <div class="container">
        <div class="quicksearch">
            <h2>Labels</h2>
        </div>
        <div class="menu">
            {% for product in products %}
                <div class="card">
                    <a href="{% url 'products:page' slug=product.slug %}">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.price }}</p>
                        <p>{{ product.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="cart">
            <h2>Cart</h2>
        </div>
    </div>
{% endblock %}