{% extends "layout.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div></div>
            <div class=two-column>
                <div>
                    <div class='expanded-image'>
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                </div>
                <div>
                    <h2>{{ product.name }}</h2>
                    {% for label in labels %}
                        <h3>{{ label.name }}</h3>
                    {% endfor %}
                </div>
            </div>
            <div></div>
        </div>
    </section>
{% endblock %}