{% extends "layout.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="expand-grid">
        <div class='expand-image-container'>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div>
            <h2>{{ product.name }}</h2>
            <hr>
            <h3>${{ product.price }}</h3>
            <p>{{ product.description }}</p>
            <div class="ingredients">
                Ingredients:
            </div>
        </div>
        <div class=cart>
            Cart
        </div>
    </div>
    
{% endblock %}